<section class="about">
	<div class="about__container">
		<span class="about__heading">
			Привет!
		</span>
		<p class="about__text">
			 Меня зовут Игорь и я начинающий веб разработчик. Моя цель - начать карьеру frontend developer'а и дорасти до уровня senior'а. В данный момент изучаю нативный Javascript, в дальнейшем перейду к фреймворкам. Можете ознакомиться с моими проектами (пока только учебные), техническими навыками или скачать <a class="about__resume" href="files/resume.pdf">резюме</a>.
		</p>
	</div>
</section>
