<header class="page-header">
	<div class="page-header__container">
	@@include('logo.html')
		<div class="hamburger"></div>
		<nav class="menu">
			<ul class="menu__list">
				<li class="menu__item"><a class="menu__link" href="index">//Главная</a></li>
				<li class="menu__item"><a class="menu__link" href="work">//Мои работы</a></li>
				<li class="menu__item"><a class="menu__link" href="skills">//Навыки</a></li>
				<li class="menu__item"><a class="menu__link" href="contact">//Контакты</a></li>
			</ul>
		</nav>
	</div>
</header>
