<footer class="page-footer">
	<div class="page-footer__container">
		<span class="page-footer__creator">Site create by <a href="https://github.com/rapt0p7" class="page-footer__link" target="_blank">me</a></span>
		<section class="page-footer__copyright">
			Icons made by <a href="http://www.freepik.com" class="page-footer__link" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" class="page-footer__link" title="Flaticon">www.flaticon.com</a>	is licensed by&nbsp;<a href="http://creativecommons.org/licenses/by/3.0/" class="page-footer__link" title="Creative Commons BY 3.0" target="_blank">&nbsp;CC 3.0 BY</a>
		</section>
	</div>
</footer>
