<section class="social">
	<div class="social__container">
		<ul class="social__list">
			<li class="social__item">
				<a href="https://vk.com/rapt0p7" class="social__link" target="_blank">
					<svg class="icon  icon-logovk  icon--social">
						<use xlink:href="img/sprite.svg#logovk"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="https://www.facebook.com/rapt0p7" class="social__link" target="_blank">
					<svg class="icon  icon-facebook-logo  icon--social">
						<use xlink:href="img/sprite.svg#facebook-logo"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="https://www.instagram.com/_rapt0p7/" class="social__link" target="_blank">
					<svg class="icon  icon-instagram  icon--social">
						<use xlink:href="img/sprite.svg#instagram"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="https://twitter.com/Rapt0p7" class="social__link" target="_blank">
					<svg class="icon  icon-twitter  icon--social">
						<use xlink:href="img/sprite.svg#twitter"></use>
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="https://github.com/rapt0p7" class="social__link" target="_blank">
					<svg class="icon  icon-github  icon--social">
						<use xlink:href="img/sprite.svg#github"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</section>
